<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <p>a item in index.jade</p>
    <h1></h1>
    <p>Welcome to </p><br><a href="http://www.baidu.com.cn">link</a>
    <p>换行方式1<strong>1</strong></p>
    <p style="color:red;">换行方式2</p>
    <style>
      body {
          color:gray;
      }
      
    </style>
    <p>&lt;span&gt;abc&lt;/span&gt; //显示test2原文</p>
    <p>&lt;span&gt;abc&lt;/span&gt;</p>
    <p><span>abc</span> //test2被编译</p>
    <p><span>abc</span></p>
    <p>#{test2} //显示p后面的文字内容，不把test2作为变量</p>
    <p>!{test2}</p>
    <p>OKKK1234</p>
    <ul>
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
    </ul>
    <ul>
      <li>0</li>
      <li>1</li>
      <li>2</li>
      <li>3</li>
    </ul>
    <p>length>=4</p>
    <p>x:1</p>
    <p>y:2</p>
    <p>z:3</p>
    <p>length>=4</p>
        <p>test mixin_block</p><a href="http://www.baidu.com">link</a>
        <p>peter is a student, there are his lessons:</p>
        <ul>
          <li>1.语文</li>
          <li>2.数学</li>
          <li>3.英语</li>
        </ul>
    <p>a item in index.jade</p>
    <div>
      <p>test include</p>
      <p>test include</p>
      <p>test include</p>
    </div>
  </body>
</html>