extends ./layout
block content
    p#a 12345
    button(onclick="func()") button
    div.div1#div1
        ul#ul1
            li#red red
            li#blue blue

    //-当一个表单包含<input type="file">时，表单的enctype必须指定为multipart/form-data，method必须指定为post，浏览器才能正确编码并以multipart/form-data格式发送表单的数据
    script(type="text/javascript" src="/javascripts/js_demo.js")
