doctype html
html
    head
        title= title
        link(rel='stylesheet' href='/stylesheets/style.css')
        link(rel='stylesheet' href='/stylesheets/thin.css')
        script(src="/javascripts/jquery-3.4.1.min.js")
        script(src="/javascripts/thin.js")
    body
        block item
           // p  a item in layout.jade
        block content


